<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>FoodListController</servlet-name>
        <servlet-class>Servelet.FoodServerlet.FoodListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodListController</servlet-name>
        <url-pattern>/food/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FoodSearchController</servlet-name>
        <servlet-class>Servelet.FoodServerlet.FoodSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodSearchController</servlet-name>
        <url-pattern>/food/search_food</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FoodDetailController</servlet-name>
        <servlet-class>Servelet.FoodServerlet.FoodDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FoodDetailController</servlet-name>
        <url-pattern>/food/details/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Servelet.LoginServlet.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/main_warehouser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierListController</servlet-name>
        <servlet-class>Servelet.SupplierServlet.SupplierListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierListController</servlet-name>
        <url-pattern>/list_supplier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierSearchController</servlet-name>
        <servlet-class>Servelet.SupplierServlet.SupplierSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierSearchController</servlet-name>
        <url-pattern>/search_supplier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PurchaseBillCreateController</servlet-name>
        <servlet-class>Servelet.PurchaseBillServlet.PurchaseBillCreateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseBillCreateController</servlet-name>
        <url-pattern>/create_purchasebill</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngredientListController</servlet-name>
        <servlet-class>Servelet.IngredientServlet.IngredientListController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngredientListController</servlet-name>
        <url-pattern>/list_ingredient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngredientSearchController</servlet-name>
        <servlet-class>Servelet.IngredientServlet.IngredientSearchController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngredientSearchController</servlet-name>
        <url-pattern>/search_ingredient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SupplierCreateNewController</servlet-name>
        <servlet-class>Servelet.SupplierServlet.SupplierCreateNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SupplierCreateNewController</servlet-name>
        <url-pattern>/create_new_supplier</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>IngredientCreateNewController</servlet-name>
        <servlet-class>Servelet.IngredientServlet.IngredientCreateNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IngredientCreateNewController</servlet-name>
        <url-pattern>/create_new_ingredient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PurchaseBill_IngredientCreateNewController</servlet-name>
        <servlet-class>Servelet.PurchaseBill_IngredientServlet.PurchaseBill_IngredientCreateNewController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseBill_IngredientCreateNewController</servlet-name>
        <url-pattern>/create_new_purchaseBill_ingredient</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PurchaseBillConfirmController</servlet-name>
        <servlet-class>Servelet.PurchaseBillServlet.PurchaseBillConfirmController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PurchaseBillConfirmController</servlet-name>
        <url-pattern>/purchasebill_confirm</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ExportPurchaseBillPDF</servlet-name>
        <servlet-class>Servelet.PurchaseBillServlet.ExportPurchaseBillPDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExportPurchaseBillPDF</servlet-name>
        <url-pattern>/export_purchasebill_pdf</url-pattern>
    </servlet-mapping>
</web-app>
